body{
    background-color: #212121;
    font-family: sans-serif;
}



.top-nav{
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}

.top-nav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;

}

input{
    all: unset;
    font: 15px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
}


.top-nav .search-container{
    float: right;
    padding: 14px 16px;
}


.column{
    padding: 10px;
    float: left;
    width: 25%;
}


h3{
    color: white;
}

#form{
    background-color: #151f30;
    border-radius: 11px;
    display: flex;
}


.thumbnail{
    height: 350px;
    width: 300px;
    border-radius: 19px;
    max-width: 100%;
    max-height: 100%;
}


.card{
    border-radius: 50px;
    padding: 15px;
    text-align: center;
    background-color: #151f30;
    width: 80%;
}